<div class="signup-container">
  <h1> Create New User</h1>

  <ol> <% if flash[:user_errors] %>
        <% flash[:user_errors].each do |e| %>
        <li><%= e %></li>
        <% end %>
      <% end %>
  </ol>

  <%= form_for @user do |f| %>
    <%= f.label 'Please Enter Username:' %><br>
    <%= f.text_field :name %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.submit %>
  <% end %>
</div>
