  <% if logged_in_user == @user %>

  <h2>Hi, <%=@user.name%>!</h2>
  <%= button_to 'Brands', brands_path, method: :get %>
  <%= form_tag user_path(@user), method: "delete" do %>
    <%= submit_tag "Delete Your Account" %>
  <% end %>
  <%= button_to 'Logout', logout_path, method: :delete %>


  <h3><u>Look at your favorites:</u></h3>
  <h2><%@user.likes.each do |like|%>
        <ul style="list-style-type:disc;">
            <li><h2><%=like.sneaker.title%></h2></li>
            <h2><%= image_tag like.sneaker.sneaker_img%></h2>
        </ul>
       <%= form_tag like_path(like), method: "delete" do %>
       <%= submit_tag "Delete Favorite" %>
       <% end %>
  <% end %>



  <% end %>
